In [1]:
import pandas as pd 
import numpy as np                     # For mathematical calculations 
import seaborn as sns                  # For data visualization 
import matplotlib.pyplot as plt        # For plotting graphs 
%matplotlib inline 
import warnings                        # To ignore any warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('../raw_data/Washington_State_HDMA-2016.csv')

In [3]:
df.head()

,tract_to_msamd_income,rate_spread,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,state_name,...,applicant_sex_name,applicant_race_name_5,applicant_race_name_4,applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,121.690002,NaN,8381.0,23.790001,2175.0,2660.0,227,73300.0,116.0,Washington,...,Female,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...",Not Hispanic or Latino,Consumer Financial Protection Bureau,CFPB,Loan originated
1,83.370003,NaN,4915.0,23.990000,1268.0,1777.0,240,57900.0,42.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
2,91.129997,NaN,5075.0,11.820000,1136.0,1838.0,241,73300.0,117.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
3,146.169998,NaN,5032.0,8.590000,1525.0,1820.0,351,73300.0,315.0,Washington,...,Male,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",National Credit Union Administration,NCUA,Loan originated
4,162.470001,NaN,5183.0,10.500000,1705.0,2104.0,417,78100.0,114.0,Washington,...,Female,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Federal Deposit Insurance Corporation,FDIC,Loan originated

In [4]:
data = df.copy()

In [5]:
data.head()

,tract_to_msamd_income,rate_spread,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,state_name,...,applicant_sex_name,applicant_race_name_5,applicant_race_name_4,applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,121.690002,NaN,8381.0,23.790001,2175.0,2660.0,227,73300.0,116.0,Washington,...,Female,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...",Not Hispanic or Latino,Consumer Financial Protection Bureau,CFPB,Loan originated
1,83.370003,NaN,4915.0,23.990000,1268.0,1777.0,240,57900.0,42.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
2,91.129997,NaN,5075.0,11.820000,1136.0,1838.0,241,73300.0,117.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
3,146.169998,NaN,5032.0,8.590000,1525.0,1820.0,351,73300.0,315.0,Washington,...,Male,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",National Credit Union Administration,NCUA,Loan originated
4,162.470001,NaN,5183.0,10.500000,1705.0,2104.0,417,78100.0,114.0,Washington,...,Female,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Federal Deposit Insurance Corporation,FDIC,Loan originated

In [6]:
data.columns

Index(['tract_to_msamd_income', 'rate_spread', 'population',
       'minority_population', 'number_of_owner_occupied_units',
       'number_of_1_to_4_family_units', 'loan_amount_000s',
       'hud_median_family_income', 'applicant_income_000s', 'state_name',
       'state_abbr', 'sequence_number', 'respondent_id', 'purchaser_type_name',
       'property_type_name', 'preapproval_name', 'owner_occupancy_name',
       'msamd_name', 'loan_type_name', 'loan_purpose_name', 'lien_status_name',
       'hoepa_status_name', 'edit_status_name', 'denial_reason_name_3',
       'denial_reason_name_2', 'denial_reason_name_1', 'county_name',
       'co_applicant_sex_name', 'co_applicant_race_name_5',
       'co_applicant_race_name_4', 'co_applicant_race_name_3',
       'co_applicant_race_name_2', 'co_applicant_race_name_1',
       'co_applicant_ethnicity_name', 'census_tract_number', 'as_of_year',
       'application_date_indicator', 'applicant_sex_name',
       'applicant_race_name_5', 'applicant_race_name_4',
       'applicant_race_name_3', 'applicant_race_name_2',
       'applicant_race_name_1', 'applicant_ethnicity_name', 'agency_name',
       'agency_abbr', 'action_taken_name'],
      dtype='object')

In [7]:
data['action_taken_name'].value_counts()

Loan originated                                        263712
Application denied by financial institution             64177
Application withdrawn by applicant                      60358
Loan purchased by the institution                       48356
File closed for incompleteness                          18176
Application approved but not accepted                   11735
Preapproval request denied by financial institution        35
Preapproval request approved but not accepted              17
Name: action_taken_name, dtype: int64

- Loan originated (widely used term in finance. It means the loan has been approved)
- We are only concerned with analysing the primary market for our project, therefore we must remove all rows associated with the action loan purchased by the instituiton.
- We also need to remove all rows associated with the action 'Application withdrawn by client'
- A First Lien Home Equity Loan (First Lien) is a mortgage product, meaning it's a loan secured with real estate as collateral. However, First Liens are generally taken out when you've already purchased a home with a traditional mortgage i.e (second mortgage)

In [8]:
data = data[~data['action_taken_name'].isin(['Application withdrawn by applicant', 'Loan purchased by the institution', 'File closed for incompleteness'])]
data = data[~data['applicant_ethnicity_name'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
data = data[~data['applicant_race_name_1'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
data = data[~data['applicant_sex_name'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
data = data[~data['co_applicant_ethnicity_name'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
data = data[~data['co_applicant_race_name_1'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
data = data[~data['co_applicant_sex_name'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]

In [9]:
data.shape

(339676, 47)

In [10]:
data['action_taken_name'].value_counts()

Loan originated                                        263712
Application denied by financial institution             64177
Application approved but not accepted                   11735
Preapproval request denied by financial institution        35
Preapproval request approved but not accepted              17
Name: action_taken_name, dtype: int64

new feature highlighting loan approved for 'loan originated' and not approved for everything else

In [11]:
data['loan_status']=["approved" if x=="Loan originated" else "not approved" for x in data['action_taken_name']]

In [12]:
data.head()

,tract_to_msamd_income,rate_spread,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,state_name,...,applicant_race_name_5,applicant_race_name_4,applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name,loan_status
0,121.690002,NaN,8381.0,23.790001,2175.0,2660.0,227,73300.0,116.0,Washington,...,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...",Not Hispanic or Latino,Consumer Financial Protection Bureau,CFPB,Loan originated,approved
1,83.370003,NaN,4915.0,23.990000,1268.0,1777.0,240,57900.0,42.0,Washington,...,NaN,NaN,NaN,NaN,White,Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated,approved
2,91.129997,NaN,5075.0,11.820000,1136.0,1838.0,241,73300.0,117.0,Washington,...,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated,approved
3,146.169998,NaN,5032.0,8.590000,1525.0,1820.0,351,73300.0,315.0,Washington,...,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",National Credit Union Administration,NCUA,Loan originated,approved
4,162.470001,NaN,5183.0,10.500000,1705.0,2104.0,417,78100.0,114.0,Washington,...,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Federal Deposit Insurance Corporation,FDIC,Loan originated,approved

In [13]:
data.isnull().sum()

tract_to_msamd_income                301
rate_spread                       331038
population                           298
minority_population                  298
number_of_owner_occupied_units       303
number_of_1_to_4_family_units        299
loan_amount_000s                       0
hud_median_family_income             296
applicant_income_000s              27629
state_name                             0
state_abbr                             0
sequence_number                        0
respondent_id                          0
purchaser_type_name                    0
property_type_name                     0
preapproval_name                       0
owner_occupancy_name                   0
msamd_name                         27509
loan_type_name                         0
loan_purpose_name                      0
lien_status_name                       0
hoepa_status_name                      0
edit_status_name                  281093
denial_reason_name_3              338430
denial_reason_name_2              332930
denial_reason_name_1              305177
county_name                          190
co_applicant_sex_name                  0
co_applicant_race_name_5          339666
co_applicant_race_name_4          339662
co_applicant_race_name_3          339592
co_applicant_race_name_2          338242
co_applicant_race_name_1               0
co_applicant_ethnicity_name            0
census_tract_number                  296
as_of_year                             0
application_date_indicator             0
applicant_sex_name                     0
applicant_race_name_5             339643
applicant_race_name_4             339629
applicant_race_name_3             339451
applicant_race_name_2             336246
applicant_race_name_1                  0
applicant_ethnicity_name               0
agency_name                            0
agency_abbr                            0
action_taken_name                      0
loan_status                            0
dtype: int64

In [14]:
data.isnull().sum()

tract_to_msamd_income                301
rate_spread                       331038
population                           298
minority_population                  298
number_of_owner_occupied_units       303
number_of_1_to_4_family_units        299
loan_amount_000s                       0
hud_median_family_income             296
applicant_income_000s              27629
state_name                             0
state_abbr                             0
sequence_number                        0
respondent_id                          0
purchaser_type_name                    0
property_type_name                     0
preapproval_name                       0
owner_occupancy_name                   0
msamd_name                         27509
loan_type_name                         0
loan_purpose_name                      0
lien_status_name                       0
hoepa_status_name                      0
edit_status_name                  281093
denial_reason_name_3              338430
denial_reason_name_2              332930
denial_reason_name_1              305177
county_name                          190
co_applicant_sex_name                  0
co_applicant_race_name_5          339666
co_applicant_race_name_4          339662
co_applicant_race_name_3          339592
co_applicant_race_name_2          338242
co_applicant_race_name_1               0
co_applicant_ethnicity_name            0
census_tract_number                  296
as_of_year                             0
application_date_indicator             0
applicant_sex_name                     0
applicant_race_name_5             339643
applicant_race_name_4             339629
applicant_race_name_3             339451
applicant_race_name_2             336246
applicant_race_name_1                  0
applicant_ethnicity_name               0
agency_name                            0
agency_abbr                            0
action_taken_name                      0
loan_status                            0
dtype: int64

In [15]:
data = data.drop(columns=['applicant_race_name_5', 
                          'applicant_race_name_4',
                          'applicant_race_name_3','applicant_race_name_2',
                          'co_applicant_race_name_5',
                          'co_applicant_race_name_4','co_applicant_race_name_3',
                          'co_applicant_race_name_2',
                          'denial_reason_name_3','denial_reason_name_2',
                          'denial_reason_name_1','rate_spread','edit_status_name',
                         'state_abbr','respondent_id','agency_abbr','as_of_year',
                            'application_date_indicator','state_name'])

In [16]:
data.isnull().sum()

tract_to_msamd_income               301
population                          298
minority_population                 298
number_of_owner_occupied_units      303
number_of_1_to_4_family_units       299
loan_amount_000s                      0
hud_median_family_income            296
applicant_income_000s             27629
sequence_number                       0
purchaser_type_name                   0
property_type_name                    0
preapproval_name                      0
owner_occupancy_name                  0
msamd_name                        27509
loan_type_name                        0
loan_purpose_name                     0
lien_status_name                      0
hoepa_status_name                     0
county_name                         190
co_applicant_sex_name                 0
co_applicant_race_name_1              0
co_applicant_ethnicity_name           0
census_tract_number                 296
applicant_sex_name                    0
applicant_race_name_1                 0
applicant_ethnicity_name              0
agency_name                           0
action_taken_name                     0
loan_status                           0
dtype: int64

In [17]:
data.shape

(339676, 29)

In [18]:
data.dtypes

tract_to_msamd_income             float64
population                        float64
minority_population               float64
number_of_owner_occupied_units    float64
number_of_1_to_4_family_units     float64
loan_amount_000s                    int64
hud_median_family_income          float64
applicant_income_000s             float64
sequence_number                     int64
purchaser_type_name                object
property_type_name                 object
preapproval_name                   object
owner_occupancy_name               object
msamd_name                         object
loan_type_name                     object
loan_purpose_name                  object
lien_status_name                   object
hoepa_status_name                  object
county_name                        object
co_applicant_sex_name              object
co_applicant_race_name_1           object
co_applicant_ethnicity_name        object
census_tract_number               float64
applicant_sex_name                 object
applicant_race_name_1              object
applicant_ethnicity_name           object
agency_name                        object
action_taken_name                  object
loan_status                        object
dtype: object

In [19]:
duplicates = data[data.duplicated()]

In [20]:
duplicates

Empty DataFrame
Columns: [tract_to_msamd_income, population, minority_population, number_of_owner_occupied_units, number_of_1_to_4_family_units, loan_amount_000s, hud_median_family_income, applicant_income_000s, sequence_number, purchaser_type_name, property_type_name, preapproval_name, owner_occupancy_name, msamd_name, loan_type_name, loan_purpose_name, lien_status_name, hoepa_status_name, county_name, co_applicant_sex_name, co_applicant_race_name_1, co_applicant_ethnicity_name, census_tract_number, applicant_sex_name, applicant_race_name_1, applicant_ethnicity_name, agency_name, action_taken_name, loan_status]
Index: []

[0 rows x 29 columns]

- No duplicates found

In [21]:
data

,tract_to_msamd_income,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,sequence_number,purchaser_type_name,...,co_applicant_sex_name,co_applicant_race_name_1,co_applicant_ethnicity_name,census_tract_number,applicant_sex_name,applicant_race_name_1,applicant_ethnicity_name,agency_name,action_taken_name,loan_status
0,121.690002,8381.0,23.790001,2175.0,2660.0,227,73300.0,116.0,119969,Freddie Mac (FHLMC),...,Male,"Information not provided by applicant in mail,...",Not Hispanic or Latino,413.27,Female,"Information not provided by applicant in mail,...",Not Hispanic or Latino,Consumer Financial Protection Bureau,Loan originated,approved
1,83.370003,4915.0,23.990000,1268.0,1777.0,240,57900.0,42.0,52605,"Life insurance company, credit union, mortgage...",...,No co-applicant,No co-applicant,No co-applicant,9208.01,Male,White,Hispanic or Latino,Department of Housing and Urban Development,Loan originated,approved
2,91.129997,5075.0,11.820000,1136.0,1838.0,241,73300.0,117.0,6210,Loan was not originated or was not sold in cal...,...,Female,White,Not Hispanic or Latino,414.00,Male,White,Not Hispanic or Latino,Department of Housing and Urban Development,Loan originated,approved
3,146.169998,5032.0,8.590000,1525.0,1820.0,351,73300.0,315.0,197,Loan was not originated or was not sold in cal...,...,Female,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",405.10,Male,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",National Credit Union Administration,Loan originated,approved
4,162.470001,5183.0,10.500000,1705.0,2104.0,417,78100.0,114.0,32582,Freddie Mac (FHLMC),...,Male,White,Not Hispanic or Latino,907.00,Female,White,Not Hispanic or Latino,Federal Deposit Insurance Corporation,Loan originated,approved
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466561,NaN,NaN,NaN,NaN,NaN,178,NaN,97.0,11,Loan was not originated or was not sold in cal...,...,Male,White,Not Hispanic or Latino,NaN,Female,White,Not Hispanic or Latino,Department of Housing and Urban Development,Preapproval request denied by financial instit...,not approved
466562,NaN,NaN,NaN,NaN,NaN,110,NaN,30.0,6,Loan was not originated or was not sold in cal...,...,No co-applicant,No co-applicant,No co-applicant,NaN,Male,White,Not Hispanic or Latino,Department of Housing and Urban Development,Preapproval request denied by financial instit...,not approved
466563,NaN,NaN,NaN,NaN,NaN,420,NaN,71.0,10311,Loan was not originated or was not sold in cal...,...,No co-applicant,No co-applicant,No co-applicant,NaN,Female,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",Department of Housing and Urban Development,Preapproval request approved but not accepted,not approved
466564,88.690002,4725.0,45.880001,1188.0,1686.0,255,72300.0,77.0,777306,Loan was not originated or was not sold in cal...,...,Female,White,Not Hispanic or Latino,714.11,Male,White,Not Hispanic or Latino,Department of Housing and Urban Development,Preapproval request approved but not accepted,not approved
466565,128.690002,3657.0,21.410000,1156.0,1244.0,319,90300.0,78.0,785339,Loan was not originated or was not sold in cal...,...,No co-applicant,No co-applicant,No co-applicant,416.07,Male,Black or African American,Not Hispanic or Latino,Department of Housing and Urban Development,Preapproval request approved but not accepted,not approved

In [22]:
def clean_data(df: pd.DataFrame) -> pd.DataFrame:
    
    # We are only concerned with analysing the primary market for our project, therefore we must remove all rows associated with the action loan purchased by the instituiton.
    # We also need to remove all rows associated with the action 'Application withdrawn by client'
    
    data = data[~data['action_taken_name'].isin(['Application withdrawn by applicant', 'Loan purchased by the institution', 'File closed for incompleteness'])]
    data = data[~data['applicant_ethnicity_name'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
    data = data[~data['applicant_race_name_1'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
    data = data[~data['applicant_sex_name'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
    data = data[~data['co_applicant_ethnicity_name'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
    data = data[~data['co_applicant_race_name_1'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
    data = data[~data['co_applicant_sex_name'].isin(['Information not provided by applicant in mail, Internet, or telephone application'])]
    
    # new feature highlighting loan approved for 'loan originated' and not approved for everything else
    data['loan_status']=["approved" if x=="Loan originated" else "not approved" for x in data['action_taken_name']]
    
    # Drop irrelevant columns
    data = data.drop(columns=['applicant_race_name_5', 
                          'applicant_race_name_4',
                          'applicant_race_name_3','applicant_race_name_2',
                          'co_applicant_race_name_5',
                          'co_applicant_race_name_4','co_applicant_race_name_3',
                          'co_applicant_race_name_2',
                          'denial_reason_name_3','denial_reason_name_2',
                          'denial_reason_name_1','rate_spread','edit_status_name',
                         'state_abbr','respondent_id','agency_abbr','as_of_year',
                            'application_date_indicator','state_name'])
    return data

In [23]:
data['applicant_sex_name'].value_counts()

Male                                                                                 220041
Female                                                                                86154
Information not provided by applicant in mail, Internet, or telephone application     30098
Not applicable                                                                         3383
Name: applicant_sex_name, dtype: int64

In [24]:
data['applicant_sex_name'].value_counts()

Male                                                                                 220041
Female                                                                                86154
Information not provided by applicant in mail, Internet, or telephone application     30098
Not applicable                                                                         3383
Name: applicant_sex_name, dtype: int64

In [25]:
data.shape

(339676, 29)

In [26]:
data.dtypes

tract_to_msamd_income             float64
population                        float64
minority_population               float64
number_of_owner_occupied_units    float64
number_of_1_to_4_family_units     float64
loan_amount_000s                    int64
hud_median_family_income          float64
applicant_income_000s             float64
sequence_number                     int64
purchaser_type_name                object
property_type_name                 object
preapproval_name                   object
owner_occupancy_name               object
msamd_name                         object
loan_type_name                     object
loan_purpose_name                  object
lien_status_name                   object
hoepa_status_name                  object
county_name                        object
co_applicant_sex_name              object
co_applicant_race_name_1           object
co_applicant_ethnicity_name        object
census_tract_number               float64
applicant_sex_name                 object
applicant_race_name_1              object
applicant_ethnicity_name           object
agency_name                        object
action_taken_name                  object
loan_status                        object
dtype: object

In [27]:
data.isnull().sum().sort_values(ascending=False)

applicant_income_000s             27629
msamd_name                        27509
number_of_owner_occupied_units      303
tract_to_msamd_income               301
number_of_1_to_4_family_units       299
minority_population                 298
population                          298
census_tract_number                 296
hud_median_family_income            296
county_name                         190
co_applicant_race_name_1              0
co_applicant_ethnicity_name           0
applicant_ethnicity_name              0
applicant_sex_name                    0
applicant_race_name_1                 0
agency_name                           0
action_taken_name                     0
co_applicant_sex_name                 0
loan_type_name                        0
hoepa_status_name                     0
lien_status_name                      0
loan_purpose_name                     0
owner_occupancy_name                  0
preapproval_name                      0
property_type_name                    0
purchaser_type_name                   0
sequence_number                       0
loan_amount_000s                      0
loan_status                           0
dtype: int64

In [28]:
data['county_name'].value_counts()

King County            101908
Pierce County           43270
Snohomish County        42969
Clark County            27568
Spokane County          20930
Kitsap County           13073
Thurston County         12660
Whatcom County           9470
Benton County            8803
Yakima County            7330
Skagit County            5662
Cowlitz County           4858
Island County            4803
Franklin County          3443
Chelan County            3179
Lewis County             2824
Mason County             2771
Clallam County           2741
Grant County             2618
Grays Harbor County      2400
Kittitas County          2125
Walla Walla County       2087
Douglas County           1589
Stevens County           1492
Jefferson County         1377
Whitman County           1086
Okanogan County          1030
Pacific County            816
Asotin County             787
San Juan County           705
Klickitat County          672
Pend Oreille County       557
Skamania County           509
Adams County              465
Lincoln County            389
Wahkiakum County          177
Ferry County              171
Columbia County           100
Garfield County            72
Name: county_name, dtype: int64

In [29]:
data.shape

(339676, 29)